<!DOCTYPE html>
<html lang="en">
<head>
    <!--djangos css linking -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ballyapp/style.css' %}"/>

    <!---->
    <!--&lt;!&ndash; important tags &ndash;&gt;-->
    <!--<meta charset="UTF-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->

    <!--&lt;!&ndash;Title&ndash;&gt;-->
    <!--<title>[M N L]</title>-->

    <!--&lt;!&ndash;favicon&ndash;&gt;-->
    <!--<link rel="shortcut icon" href="img/favicon/favicon.ico">-->

    <!--&lt;!&ndash;Google fonts&ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Railway:100,200,300,400,500,600,700" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">-->

    <!--&lt;!&ndash;Font- awesome&ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">-->

    <!--&lt;!&ndash;Boostrap css&ndash;&gt;-->
    <!--&lt;!&ndash; <link rel="stylesheet" href="boostrap.css"> &ndash;&gt;-->
    <!--&lt;!&ndash; <script src="main.js"></script> &ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!--<script src=""></script>-->




</head>

<body>
    <div class="container">
        <header class="header-container">
            <div class="header-logo"><a href="index.html"><img src="favicon/favicon.png" alt="Our Logo" style="width:50px; height:50px"><span class="logo-name">|[AJDHIK]|</span></a></div>
        </header>
        <hr />
        <nav class="main-navv">
            <ul class="main-nav-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>

        <section class="sect">
            <main class="banner-sect">
                <h3 class="banner-head">WELCOME TO <span class="banner-head-name"> HAMZARTS </span>FASHION HOME</h3>
                <p class="banner-address">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </main>
        </section>

        <section>
            <div class="images-container">
                <div class="container-text"><h1>CHECK OUT</h1></div>
                <article class="img-title1"><h4>Women Outfit</h4>
                    <div class="img-container1">
                        <img src="images/bannerimg.png" alt="Men">
                    </div>
                </article>
                <article class="img-title1"><h4>CEO</h4>
                        <div class="img-container2">
                            <img src="imgages/bally.jpg" alt="bally" href="balqees.html">
                        </div>
                </article>
                <div style="clear:both"></div>
            </div>

            <div class="colum-content-container">
                <h4 class="offer">Offer</h4>
                <article>
                    <div class="article-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sunt, et nisi. At vero sequi natus perfe
                        rendis asperiores eaque, illo rem labore,
                        veniam doloribus voluptas animi, inventore adipisci neque ipsum in!
                        <button class="btn-info">...more</button></p>
                    </div>
                </article>

                <aside>
                    <div class="article-content-aside">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Sunt, et nisi. At vero sequi natus perfe
                                    rendis asperiores eaque, illo rem labore,
                                    veniam doloribus voluptas animi, inventore adipisci neque ipsum in!</p>
                    </div>
                </aside>
                <div style="clear:both"></div>
            </div>
        </section>


        <footer class="main-footer">
            <div class="footer1">
                <ul class="footer-links">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Arrivals</a></li>
                </ul>
                <p>hayjay &copy; Copyright 2018</p>
                <address class="address">2, Obokun Close, Ikeja Lagos State</address>
            </div>

            <!-- JUST TESTING -->
            <h2 class="test">THIS IS THE FREECODECAMP PALAVA</h2>
            <p class="tests">ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, recusandae? Tempore neque magni quidem ab nisi debitis minima facilis cum, vitae, voluptates explicabo similique. Nisi omnis iusto corrupti laborum quo!</p>
        </footer>

        <script src="js/script.js"></script>
    </div>
</body>
</html>